@font-face {

  font-family: 'FZLTZHK'; 

  src: url('../font/FZLTZHK.eot');

  src:

    url('../font/FZLTZHK.woff') format('woff'),

    url('../font/FZLTZHK.ttf') format('truetype'),

    url('../font/FZLTZHK.svg') format('svg');

  font-weight: normal;

  font-style: normal;

}